:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.add-todo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 20%;
  font-weight: bold;
  margin: 15px auto;
  border: 2px solid #fff;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 5px;
}

h2 {
  color: #0000ff;
}

input {
  font-size: 18px;
  border: 1px solid #2196f3;
  outline: 0;
}

.btn {
  background-color: #2196f3;
  border: 0;
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
}
